* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {

	font-family: 'Open Sans';

}
nav {


	display: inline;
	position: sticky;
	top: 0px;
	bottom: 20px;
	z-index: 1;

}
#ul1 {

	background-color: white;
	padding: 1rem;
	

}


.nav, .nav-logo {
	list-style-type: none;
}
.nav {
	display: inline;
	position: relative;
	top: -36px;
	margin-left: 20px;
	margin-right: 20px;
}
.right-nav {

	float: right;
	margin-right: 20px;
}
#logo {
	margin-left: 200px;

}

.tuitt-button {
	background-color: #c2195b;
	padding: 1rem;
	border-radius: 25px;
	border: none;
	color: white;

}
#bg-image {

	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 30% 70%;
	margin-bottom: 5rem;


}
.container {

	height: 60vh;
	width: 100vw;
}
.front-bg {

	background-color: rgba(0, 0, 0, 0.5);
}
.title {

	font-family: 'Zilla Slab';
	display: inline-block;
	text-align: right;
	min-height: 100px;
	width: 60%;
	font-size: 2.5rem;
	color: white;
	max-width: 40%;
	position: relative;
	left: 53%;
	top: 5%;
	margin-bottom: 2rem;
}
.subtitle {

	font-family: 'Open Sans' sans-serif;
	display: block;
	text-align: right;
	min-height: 200px;
	width: 40%;
	font-size: 1rem;
	color: white;
	max-width: 40%;
	position: relative;
	left: 53%;
	top: 5%;
	font-weight: lighter;
}
.apply-button {

	background-color: #c2195b;
	display: block;
	text-align: right;
	font-size: 1rem;
	color: white;
	max-width: 50%;
	position: relative;
	left: 80%;
	bottom: 20%;
	padding: 1rem 3rem;
	border-radius: 25px;
	border: none;
}
.intro {

	text-align: center;
}
.title-2 {

	font-size: 2rem;
	font-weight: bold;
	font-family: 'Zilla Slab';



}
.intro-description {

	text-align: justify;
	margin: 0 15%;
	margin-top: 5rem;

}

.pre-footer {

	background-color: #f7fbfb;

	text-align: center;
	margin-top: 3rem;
	padding-top: 4rem;
	padding-bottom: 4rem;


}
.prefooter-description {

	text-align: center;
	margin: 0 15%;
	margin-top: 2rem;

}

.book-button {

	background-color: #336589;
	padding: 1rem;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	color: white;
	font-size: 1rem;
	width: 200px;
	margin-top: 1rem;

}

footer {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}